* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/*font*/
/*
font-family: 'Poppins', sans-serif;
font-family: "Mulish", sans-serif;

*/
body {
  margin-left: 50px;
  background-color: #f8f9ff;
}
header {
  display: flex;
  justify-content: center;
  padding: 20px;
  max-width: 375px;
  max-height: 72px;
}
h1 {
  justify-content: center;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
nav {
  display: none;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 375px;
  max-height: 809px;
  padding: 60px, 30px, 60px, 30px;
  gap: 40px;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.hero-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 38px;
  width: 315px;
  height: 147px;
  justify-content: center;
  align-items: center;
}
.hero-link {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60px;
  width: 221px;
  padding: 50px, 16px, 50px;
  border-radius: 20px;
  gap: 18px;
  color: #ffffff;
  background-color: #009379;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.hero-image {
  width: 320px;
  height: 320px;
}
.features {
  max-width: 375px;
  max-height: 1082px;
  text-align: center;
}
.feature-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
}
.container-features-icon {
  display: flex;
}
.features-icons {
  display: flex;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 21px;
  max-width: 315px;
  max-height: 90px;
  border: 1px solid #e5f4f2;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  gap: 6.1px;
  align-items: center;
  margin: 20px;
}
.image-features {
  width: 320px;
  height: 267px;
}
.selected-work {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  max-height: 1665px;
  text-align: center;
  padding: 60px, 30px, 60px, 30px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 16px;
  gap: 30px;
  p:first-child {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
  }
  .project-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    left: 4rem;
    bottom: 6.5rem;
    padding: 0px, 0px, 30px, 0px;
  }
  .project-description {
    left: 4rem;
    bottom: 5rem;
  }
  .project-category {
    left: 4rem;
    bottom: 3rem;
  }
  .project-card {
    background-color: #ffffff;
    width: 375px;
    height: 446px;
    border-radius: 20px;
    gap: 30px;
    text-align: left;
    position: relative;
    p {
      position: absolute;
    }

    img {
      width: 375px;
      height: 278px;
    }
  }
}

@media (width > 750px) {
  header {
    display: flex;
    min-width: 600px;
    min-height: 100px;
    max-width: 1280px;
    max-height: 100px;
    padding: 20px, 50px, 20px, 50px;
    align-items: center;
    justify-content: space-between;
    nav {
      width: 559px;
      height: 60px;
      ul {
        display: flex;
        li {
          justify-content: flex-end;
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 16px;
          padding: 16px, 50px, 16px, 50px;
          gap: 8px;
          background-color: #e5f4f2;
          border-radius: 20px;
          width: 221px;
          height: 60px;
        }
        li.how-to {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        li.contact {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
        }
        li.get-start {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #009379;
        }
      }
      display: initial;
    }
  }
}
