
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
header {
  display: flex;
}
h1 {
  justify-content: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
nav {
  display: none;
}
@media (width > 550px) {
  nav {
    display: initial;
  }
}

